.ddv-message{
  min-width: 380px;
  box-sizing: border-box;
  border-radius: 4px;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  transition: opacity .5s,transform .10s;
  overflow: hidden;
  padding: 15px 15px 15px 20px;
  display: flex;
  font-size: 14px;
  align-items: center;
}
.ddv-message__button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.ddv-message__button:hover{
  color: rgb(64, 158, 255);
  border-color: rgb(64, 158, 255);
}
.ddv-message__info {
  background-color: #edf2fc;
  border: 1px solid #ebeef5;
}
.ddv-message__success {
  color: #67c23a;
  background-color: #f0f9eb;
  border-color: #e1f3d8;
}
.ddv-message__warning {
  color: #e6a23c;
  background-color: #fdf6ec;
  border-color: #faecd8;
}
.ddv-message__error {
  color:#f56c6c;
  background-color: #fef0f0;
  border-color: #fde2e2;
}

.ddv-message__text {
  margin-left: 10px;
}

.ddv-message-fade-enter,
.ddv-message-fade-leave-active {
  opacity: 0;
  transform: translate(-50%, -100%);
}
