.ddv-ui__tree {
  position: relative;
  cursor: default;
}
.ddv-tree_node__children {
  overflow: hidden;
}
.ddv-tree_node {
  font-size: 14px;
  color: #606266;
}
.ddv-tree_node__content {
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.ddv-tree_node__content:hover {
  background: #ebebeb;
}
.ddv-tree_node__col > * {
  display: inline-block
}
.ddv-tree_node__label {
  font-size: 14px;
  margin-left: 10px;
  display: inline-block;
}
.ddv-tree_node__icon {
  transition: all .3s;
  font-size: 12px;
  color: #c0c4cc;
  display: inline-block;
}
.ddv-tree_node__icon__rotate {
  transform: rotate(90deg);
}
.ddv-tree_node__icon__noChild {
  color: transparent;
  cursor: default;
  visibility: hidden;
  opacity: 0;
}

.collapse-transition {
  transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}
