.ddv-ui__tree {
  position: relative;
  cursor: default;
}

.ddv-tree {
  font-size:14px;
  color:#606266;
}
.ddv-tree__content {
  height: 36px;
  line-height: 36px;
}
.ddv-tree__icon {
  margin-right: 10px; 
  font-size: 12px;
  color: #c0c4cc;
}
